body {
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
  font: 500 1.5rem arial;
	background: #FFF5EE;
  color: #DAA520;
}

.App {
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}

button {
  margin-top: 2rem;
  padding: .5rem 1rem;
	border: none;
	border-radius: 4px;
	background: tomato;
	color: #fff;
	outline: none;
}
